  <div class="product-item">
    <div class="card h-100">
      <img src="https://localhost:44359/{{product.images[0].imageName}}" alt="" class="card-img-top">
      <div class="card-body">
        <div class="thumbnails mb-3">
          @for (image of product.images; track $index) {
            <img src="https://localhost:44359/{{image.imageName}}" alt="" class="thumbnail-img small-img">
          }

        </div>
        <h5 class="card-title">{{product.name}}.</h5>
        <p class="card-text">{{product.description}}</p>
        <p class="price">
          <span class="old-price">{{product.oldPrice|currency}}</span>
          {{product.newPrice|currency}}
        </p>
        <div class="rating mb-3">

        </div>
        <button class="btn btn-outline-primary favorite-icon">
          <i class="fa fa-bookmark"></i>
        </button>
        <div class="d-flex justify-content-between align-items-start">
          <button class="btn btn-primary">
            <i class="fa fa-shopping-cart">Add To Cart</i>
          </button>
          <button class="btn btn-success"
          routerLink="/shop/product-details/{{product.id}}">
            <i  class="fa fa-info-circle">Details</i>
          </button>
        </div>
      </div>
    </div>
  </div>


